<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kuange.framework.dao.SysResourceNavigationMapper" >
  <resultMap id="BaseResultMap" type="com.kuange.framework.model.SysResourceNavigation" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="img" property="img" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="comment" property="comment" jdbcType="VARCHAR" />
    <result column="leve" property="leve" jdbcType="INTEGER" />
    <result column="parent_id" property="parentId" jdbcType="BIGINT" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sys_resource_navigation
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.kuange.framework.model.SysResourceNavigation" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="BEFORE" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sys_resource_navigation (id, code, name, 
      img, url, comment, 
      leve, parent_id)
    values (#{id,jdbcType=BIGINT}, #{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{img,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, #{comment,jdbcType=VARCHAR}, 
      #{leve,jdbcType=INTEGER}, #{parentId,jdbcType=BIGINT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.kuange.framework.model.SysResourceNavigation" >
    update sys_resource_navigation
    set code = #{code,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      img = #{img,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      comment = #{comment,jdbcType=VARCHAR},
      leve = #{leve,jdbcType=INTEGER},
      parent_id = #{parentId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, code, name, img, url, comment, leve, parent_id
    from sys_resource_navigation
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, code, name, img, url, comment, leve, parent_id
    from sys_resource_navigation
  </select>
</mapper>